@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #222;
  font-size: 14px;
  line-height: 1.5;
  background-color: #fff;
}

/* header */
.header {
  display: flex;
  /* 모바일에서는 gnb가 사라져서 */
  height: 80px;
  align-items: center;
  padding: 0 16px;
  justify-content: space-between;
}
.logo {
  font-size: 20px;
  font-weight: 700;
  position: relative;
  padding-left: 14px;
}
.logo::after {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 38px;
  height: 38px;
  border-radius: 100%;
  background-color: #ccc;
  /* logo를 위로 올리기 위해서
  기본 z-index는 0 오브젝트가 겹쳐서 보여도 전부 0 */
  z-index: -1;
}
.gnb {
  display: flex;
}
.gnb li a {
  display: block;
  padding: 0 35px;
  height: 80px;
  line-height: 80px;
  font-size: 17px;
}
.gnb li a:hover {
  color: tomato;
}

.gnb li a span {
  display: block;
  position: relative;
}
.gnb li a span::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: tomato;
  transition: all 0.3s;
}
.gnb li a:hover span::after {
  width: 100%;
}
.bars {
  display: none;
}

.container {
  width: 1100px;
  margin: 0 auto;
  padding: 0 10px;
}

.container img {
  width: 100%;
  display: block;
}
/* hero */

.hero {
  width: 1100px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  align-items: center;
  padding: 94px 10px 126px;
}

.hero img {
  width: 100%;
  display: block;
}
.hero .text_box {
  flex: 1;
}
.hero .text_box h2 {
  font-size: 80px;
  font-weight: 700;
  margin: 52px 0 40px;
  line-height: 1.2;
}
.hero .text_box h4 {
  font-size: 20px;
  font-weight: 700;
}
.hero .text_box p {
  font-size: 17px;
  font-weight: 400;
  width: 75%;
}

.hero .photo {
  width: 500px;
  height: 500px;
  position: relative;
}

.hero .photo img {
  border-radius: 100%;
  border-top-right-radius: 0;
}

.hero .photo::after {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 248, 233);
  border-radius: 100%;
  border-top-right-radius: 0;
  z-index: -1;
}
